@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700');

/* Global Styles */
body {
  padding-top: 80px;
  background-image: url('images/bg.png');
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #333;
  background-color: #f5f5f5;
}

h1 {
  margin: 0.2em 0 0 0;
  font-size: 3.25em;
  letter-spacing: -0.025em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -0.015em;
}

p {
  line-height: 1.6em;
  font-size: 1.1em;
}

.subheader {
  font-size: 1.25em;
  font-weight: 300;
  color: #555;
  margin: 0 0 0.5em 0;
  text-align: left;
}

.wrapper {
  padding: 6em 2em 2em;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.social-wrapper {
  background-color: #333;
  padding: 1em;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

ul.social {
  list-style: none;
  padding: 0.1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  background-color: #333 !important;
  border-radius: 8px;
  margin: 0 auto;
  max-width: 100%;
}

ul.social li {
  position: relative;
  display: inline-block;
  margin: 0.5em;
}

ul.social li a {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, filter 0.3s ease;
}

ul.social li a img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul.social li a:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}

ul.social li a:active {
  filter: brightness(120%);
}

ul.social li .icon-label {
  color: #fff;
  font-size: 1.5em;
  margin-top: 0.5em;
  display: block;
  text-align: center;
}

/* Individual Button Colors */
.icon.brands.seek-icon {
  background-color: #d32e77;
}

.icon.brands.linkedin-icon {
  background-color: #0077b5;
}

.icon.brands.github-icon {
  background-color: #6cc644;
}

.icon.brands.email-icon {
  background-color: #ed7902;
}

.icon.brands.x-icon {
  background-color: #657786;
}

.icon.brands.resume-icon {
  background-color: #f2eee5;
}

.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.file-tile {
  background: #f4f4f4;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.file-tile iframe {
  width: 100%;
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border: none;
}

.file-tile h4 a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

.file-tile h4 a:hover {
  color: #0073e6;
}

/* Header Image Styles */
.image.fit {
  float: left;
  margin: 1.5em 2.5em 0 1em;
}

.image.fit img {
  max-width: 15em;
  height: auto;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 2em;
  padding: 0;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  background: rgba(40, 40, 40, 0.9); /* Add this line for background */
}

.nav-menu li {
  padding-left: 0;
}

.nav-menu a {
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  outline: 0;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 1.25em;
}

.nav-menu a:hover {
  color: #fff !important;
  background: #383838;
}

.nav-menu a.active {
  background: #484848;
}

.nav-menu a.active:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.6em;
  left: 50%;
  margin-left: -0.75em;
  border-left: solid 0.75em transparent;
  border-right: solid 0.75em transparent;
  border-top: solid 0.6em #282828;
}

@media (max-width: 768px) {
  .image.fit {
    float: none;
    margin: 0 auto 1.5em auto;
    display: block;
    text-align: center;
  }

  .image.fit img {
    display: block;
    margin: 0 auto;
  }

  nav#nav ul li a {
    font-size: 0.85em; /* Reduce font size */
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background: rgba(
      40,
      40,
      40,
      0.9
    ); /* Ensure this line is here for background */
  }

  .nav-menu.nav-menu-visible {
    display: flex;
  }

  .nav-menu li {
    padding: 0.5em 0;
  }

  .nav-menu a {
    padding: 0.5em 1em;
  }
}

nav#nav {
  margin-bottom: 14em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Nav Bar */
nav#nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1.5em 0;
  margin: 0;
  background-color: #333;
  color: #fff;
}

nav#nav ul li {
  margin: 0 1em;
}

nav#nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 0.5em 1em;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

nav#nav ul li a:hover {
  background-color: #555;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #444;
  min-width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000;
}

.dropdown:hover .dropdown-content {
  display: block;
}
